@using MVC.Models.ViewModels
@using MVC.Models.Entities
@model ComponentViewModel<MarcaMotor, ModeloMotor>

@{
    ViewData["Title"] = "Componente Motor";
#pragma warning disable CS8602
}
@inject IConfiguration _configService;

@* *********************************************************************************************** *@
@* BRAND *@
@* *********************************************************************************************** *@
<section class="title border-eas text-center rounded-4 mt-3">

    <h2><b><span class="color-pale">M</span>arcas de motores</b></h2>
</section>

<section class="row title justify-content-between p my-2">

    <aside class="col-5 col-lg-2 d-flex align-items-center justify-content-around bg-eas my-2 add p-2" id="openBrand">
        <img src="~/images/svg/Motor.svg" class="icon-btn align-self-center" alt="Motor Icon" />
        <p class="d-flex align-items-center m-0">Registrar</p>
    </aside>

    <aside class="col-5 col-lg-4 d-flex align-items-center  rounded-4 my-2 border-eas p">

        <div class="row justify-content-between w">

            <div class="col-12 col-lg-5 d-flex justify-content-center my-1">
                <img src="~/images/svg/Filter.svg" class="icon-btn align-self-center mx-3" alt="Filter" />
                <h4 class="d-flex align-items-center m-0">Filtro</h4>
            </div>

            <div class="col-12 col-lg-6 d-flex justify-content-center p my-1">

                <select id="rowsPageBrand" class="rowsPerPage">
                    <option value="1">1 resultados</option>
                    <option selected value="5">5 resultados</option>
                    <option value="7">7 resultados</option>
                    <option value="10">10 resultados</option>
                </select>

            </div>

        </div>

    </aside>

    <aside class="col-12 col-lg-5 my-2 border-celestial rounded-4 d-flex p">

        <div class="col-3 d-flex justify-content-start">
            <h4 class="d-flex align-items-center mx-2 m-0">Buscar</h4>
        </div>

        <div class="col justify-content-center d-flex">

            <input class="input-search my-2 text-center" type="text" />

        </div>

        <div class="col-3 justify-content-center align-items-center d-flex">

            <input type="submit" class="submit " value="Buscar" />

        </div>

    </aside>

</section>

<section class="row h-80 cont-Tables">

    @******************   TABLA   ***********************@
    <aside class="contable  bg-gray shadow">

        <table id="brand" class="table ">

            <thead>
                <tr>
                    <th> Nombre</th>
                    <th> Estado</th>
                    <th> Detalles</th>

                </tr>
            </thead>

            <tbody id="RowBrand">
                @foreach (var item in Model.MarcasTipos)
                {
                    <tr>
                        <td>@item.Nombre</td>
                        <td>
                            <label class="toggle-switch my-2">
                                @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*@
                                <input data-id="@item.ID" data-entity="@_configService["Concept:Engine:Brand"]"
                                       class="chbTable chbUpdateStatus" type="checkbox" checked="@item.Estado">
                                @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*@
                                <div class="toggle-switch-background">
                                    <div class="toggle-switch-handle"></div>
                                </div>
                            </label>
                        </td>
                        <td><img src="~/images/svg/pen-to-square-regular.svg" class="table-icon" /></td>
                    </tr>
                }
            </tbody>

        </table>

    </aside>

    @******************   PAGINADO   ***********************@
    <aside class="justify-content-center d-flex align-items-center paginated m-0" id="paginatedBrand"></aside>

</section>



@* *********************************************************************************************** *@
@* MODEL *@
@* *********************************************************************************************** *@

<section class="title border-eas text-center rounded-4 mt-3">

    <h2><b><span class="color-pale">M</span>odelos de motores</b></h2>

</section>

<section class="row title justify-content-between p my-2 ">

    <aside class="col-5 col-lg-2 d-flex align-items-center justify-content-around bg-eas my-2 add p-2" id="openModel">
        <img src="~/images/svg/Motor.svg" class="icon-btn align-self-center" alt="Motor Icon" />
        <p class="d-flex align-items-center m-0">Registrar</p>
    </aside>

    <aside class="col-5 col-lg-4 d-flex align-items-center  rounded-4 my-2 border-eas p">

        <div class="row justify-content-between w">

            <div class="col-12 col-lg-5 d-flex justify-content-center my-1">
                <img src="~/images/svg/Filter.svg" class="icon-btn align-self-center mx-3" alt="Filter" />
                <h4 class="d-flex align-items-center m-0">Filtro</h4>
            </div>

            <div class="col-12 col-lg-6 d-flex justify-content-center p my-1">

                <select id="rowsPageModel" class="rowsPerPage">
                    <option value="1">1 resultados</option>
                    <option selected value="5">5 resultados</option>
                    <option value="7">7 resultados</option>
                    <option value="10">10 resultados</option>
                </select>

            </div>

        </div>

    </aside>

    <aside class="col-12 col-lg-5 my-2 border-celestial rounded-4 d-flex p">

        <div class="col-3 d-flex justify-content-start">
            <h4 class="d-flex align-items-center mx-2 m-0">Buscar</h4>
        </div>

        <div class="col justify-content-center d-flex">

            <input class="input-search my-2 text-center" type="text" />

        </div>

        <div class="col-3 justify-content-center align-items-center d-flex">

            <input type="submit" class="submit " value="Buscar" />

        </div>

    </aside>

</section>

<section class="row h-80 cont-Tables">
    @******************   TABLA   ***********************@
    <aside class="contable  bg-gray shadow">

        <table id="model" class=" table modelMotors">

            <thead>
                <tr>
                    <th> </th>
                    <th> </th>
                    <th colspan="2" class="border">Tiempo de remplazo</th>
                    <th> </th>
                    <th> </th>

                </tr>
                <tr>
                    <th> Marca</th>
                    <th> Nombre</th>
                    <th class="border"> Horas</th>
                    <th class="border"> Meses</th>
                    <th> Estado</th>
                    <th> Editar</th>
                </tr>
            </thead>

            <tbody id="RowModel">
                @foreach (var item in Model.ModelosVariantes)
                {
                    <tr>
                        <td>@item.Marca.Nombre</td>
                        <td>@item.Nombre</td>
                        <td>@item.TiempoRemplazoHrs</td>
                        <td>@item.TiempoRemplazoMeses</td>
                        <td>
                            <label class="toggle-switch my-2">
                                @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*@
                                <input data-id="@item.ID" data-entity="@_configService["Concept:Engine:Model"]"
                                       class="chbTable chbUpdateStatus" type="checkbox" checked="@item.Estado">
                                @* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*@
                                <div class="toggle-switch-background">
                                    <div class="toggle-switch-handle"></div>
                                </div>
                            </label>
                        </td>
                        <td><img src="~/images/svg/pen-to-square-regular.svg" class="table-icon" /></td>
                    </tr>
                }
            </tbody>
        </table>

    </aside>

    @******************   PAGINADO   ***********************@
    <aside class="justify-content-center d-flex align-items-center m-0 paginated" id="paginatedModel"></aside>

</section>



@* *********************************************************************************************** *@
@* ALL *@
@* *********************************************************************************************** *@

<section class="title border-eas text-center rounded-4 mt-3">

    <h2><b><span class="color-pale">M</span>otores</b></h2>

</section>

<section class="row title justify-content-between p my-2 ">

    <aside class="col-5 col-lg-2 d-flex align-items-center justify-content-around bg-eas my-2 add p-2" id="openComponent">
        <img src="~/images/svg/Motor.svg" class="icon-btn align-self-center" alt="Motor Icon" />
        <p class="d-flex align-items-center m-0">Registrar</p>
    </aside>

    <aside class="col-5 col-lg-2  d-flex align-items-center  rounded-4 my-2 border-eas p">

        <div class="row justify-content-between w">

            <div class="col-12 d-flex justify-content-center my-1">
                <img src="~/images/svg/Filter.svg" class="icon-btn align-self-center mx-3" alt="Filter" />
                <h4 class="d-flex align-items-center m-0">Filtro</h4>
            </div>

            <div class="col-12 d-flex justify-content-center p my-1">

                <select id="rowsPageTable" class="rowsPerPage">
                    <option value="1">1 resultados</option>
                    <option selected value="5">5 resultados</option>
                    <option value="7">7 resultados</option>
                    <option value="10">10 resultados</option>
                </select>

            </div>

        </div>

    </aside>

    <aside class="col-12 col-lg-3 my-2 border-celestial rounded-4 align-items-center d-flex flex-column p">

        <div class="row w  text-center">
            <h4>Buscadores</h4>
        </div>

        <div class="row p w">

            <div class="col justify-content-center d-flex p">
                <select class="input-Searches">
                    <option value="Maraca" selected></option>
                    <option value="Maraca1">Marca</option>
                </select>
            </div>

            <div class="col justify-content-center d-flex p">
                <select class="input-Searches">
                    <option value="Maraca" selected></option>
                    <option value="Maraca1">Marca</option>
                </select>
            </div>

        </div>

        <div class="row p w">

            <div class="col justify-content-center d-flex p">
                <p><b>Marca</b></p>
            </div>

            <div class="col justify-content-center d-flex p">
                <p><b>Modelo</b></p>
            </div>

        </div>

    </aside>


    <aside class="col-12 col-lg-4 my-2 border-celestial rounded-4 align-items-center d-flex flex-column p">

        <div class="row w  text-center">
            <h5>Buscar por número de serie</h5>
        </div>

        <div class="row w  justify-content-center ">

            <div class="col  justify-content-center d-flex ">
                <input class="input-search my-2 text-center" type="text" placeholder="Num. Serie" />
            </div>

            <div class="col d-flex align-items-center ">
                <input type="submit" class="submit " value="Buscar" />
            </div>

        </div>

    </aside>

</section>

<section class="row h-80 cont-Tables">

    @******************   TABLA   ***********************@
    <aside class="contable  bg-gray shadow">

        <table id="table" class=" table  motors">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th colspan="2" class="border">Tiempo de remplazo</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th>N° serie</th>
                    <th>Hélice</th>
                    <th>Planeador</th>
                    <th class="border">Años</th>
                    <th class="border">Horas</th>
                    <th> Tiempo total</th>
                    <th> TURM</th>
                    <th>Estado</th>
                    <th>Editar</th>
                    <th>Detalles</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Lorem</td>
                    <td>Lorem</td>
                    <td>Lorem</td>
                    <td>Lorem</td>
                    <td>Lorem</td>
                    <td>Lorem</td>
                    <td>Lorem</td>
                    <td class="my-2">
                        <label class="toggle-switch">
                            <input class="chbTable" type="checkbox">
                            <div class="toggle-switch-background">
                                <div class="toggle-switch-handle"></div>
                            </div>
                        </label>
                    </td>

                    <td><img src="~/images/svg/pen-to-square-regular.svg" class="table-icon" /></td>
                    <td><img src="~/images/svg/circle-info-solid.svg" class="table-icon" /></td>
                </tr>
            </tbody>

        </table>
    </aside>

    @******************   PAGINADO   ***********************@
    <aside class="justify-content-center d-flex align-items-center m-0 paginated" id="paginatedTable"></aside>
</section>


@* *********************************************************************************************** *@
@* FORMS *@
@* *********************************************************************************************** *@
@* Brand *@

<section class="form container p" id="formBrand">
    <aside class="row justify-content-end">
        <img src="~/images/svg/circle-xmark-regular.svg" class="close mx-2" id="closeBrand" />
    </aside>
    <h2>Nueva marca</h2>
    @* Formulario - - - - - - - - - - - - - - - - - - -*@
    <form id="NewBrand">
        <aside class="row w mb-2">
            <h5><b>Nombre</b></h5>
            @*- - - - - - - - - - - Campos - - - - - - - - - - -*@
            @* Campo oculto *@
            <input name="Entidad" value="@_configService["Concept:Engine:Brand"]" type="hidden" />
            <input name="Nombre" class="input-Form" type="text" />
            @* - - - - - - - - - - - - - - - - - - - - - - - - -*@
        </aside>
        <aside class="row w my-3">
            <input id="btnSendBrand" type="submit" class="submit " value="Agregar" />
        </aside>
    </form>
    @* - - - - - - - - - - - - - - - - - - - - - - - -*@
</section>

@* Model *@
<section class="form container p" id="formModel">

    <aside class="row justify-content-end p-2">
        <img src="~/images/svg/circle-xmark-regular.svg" class="close mx-2" id="closeModel" />
    </aside>

    <h2>Nuevo modelo</h2>

    <form id="NewModel">
        <aside class="row w mb-3 p">
            @*- - - - - - - - - - - Entidad - - - - - - - - - - -*@
            <input name="Entidad" value="@_configService["Concept:Engine:Model"]" type="hidden" />
            @*- - - - - - - - - - - - - - - - - - - - - - - - - -*@

            <div class="col">
                <h5><b>Marca</b></h5>
                @*- - - - - - - - - - - MarcaTipoID - - - - - - - - - - -*@
                <select name="MarcaTipoID" asp-items="@(new SelectList(Model.MarcasTipos, "ID", "Nombre"))" class="input-Twin">
                    <option value="" disabled selected>Selecciona una marca</option>
                </select>
                @*- - - - - - - - - - - - - - - - - - - - - - - - - -*@

            </div>

            <div class="col">
                <h5><b>Nombre</b></h5>
                @*- - - - - - - - - - - Nombre - - - - - - - - - - -*@
                <input name="Nombre" class="input-Twin" type="text" />
                @*- - - - - - - - - - - - - - - - - - - - - - - - - -*@

            </div>

        </aside>

        <h4>Horas de remplazo</h4>

        <aside class="row w mb-2 p">

            <div class="col">
                @*- - - - - - - - - - - TiempoRemplazoHrs - - - - - - - - - - -*@
                <input name="TiempoRemplazoHrs" class="input-Twin text-center possibleNull" type="number" step="1" />
                @*- - - - - - - - - - - - - - - - - - - - - - - - - -*@

                <h5><b>Horas</b></h5>
            </div>
        </aside>

        <h4>Tiempo de remplazo</h4>

        <aside class="row w mb-2 p">

            <div class="col">
                @*- - - - - - - - - - - UnidadTiempo - - - - - - - - - - -*@
                <select name="UnidadTiempo" id="ddlUnidadTiempo" class="input-Twin possibleNull">
                    <option value="" selected >Selecciona el plazo de tiempo</option>
                    <option value="true">Meses</option>
                    <option value="false">Años</option>
                </select>
                @*- - - - - - - - - - - - - - - - - - - - - - - - - -*@
                <h5><b>Unidad de tiempo</b></h5>
            </div>
            :
            <div class="col">
                @*- - - - - - - - - - - Cantidad - - - - - - - - - - -*@
                <input name="Cantidad" id="txtCantidad" class="input-Twin text-center possibleNull" type="number" step="1" />
                @*- - - - - - - - - - - - - - - - - - - - - - - - - -*@
                <h5><b>Cantidad</b></h5>
            </div>

        </aside>

        <aside class="row w my-3">
            <input type="submit" class="submit " value="Agregar" />
        </aside>
    </form>

</section>

@* Component *@
<section class="form container p" id="formComponent">

    <aside class="row justify-content-end p-2">

        <img src="~/images/svg/circle-xmark-regular.svg" class="close mx-2" id="closeComponent" />

    </aside>

    <h2>Nuevo Motor</h2>

    <form id="NewComponent">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @*- - - - - - - - - - - Entidad - - - - - - - - - - -*@
        <input asp-for="MotorViewModel.Entidad" value="@_configService["Concept:Engine:Component"]" type="hidden" />
        @*- - - - - - - - - - - - - - - - - - - - - - - - - -*@

        @*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*@
        <aside class="row w mb-2">
            <h5><b>Número de série</b></h5>
            <input asp-for="MotorViewModel.NumSerie" class="input-Form" type="text" />
            <span asp-validation-for="MotorViewModel.NumSerie" class="text-white"></span>
        </aside>
        @*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*@
        <aside class="row w mb-2">
            <h5><b>Tiempo Total</b></h5>
           
            <input asp-for="MotorViewModel.TiempoTotal" class="input-Form" type="number" step="1" />
            <span asp-validation-for="MotorViewModel.TiempoTotal" class="text-white"></span>

        </aside>
        @*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*@
        <aside class="row w mb-2">
            <h5><b>TURM</b></h5>
            <input asp-for="MotorViewModel.TURM" class="input-Form" type="number" step="1" />
            <span asp-validation-for="MotorViewModel.TURM" class="text-white"></span>
        </aside>
        @*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*@
        <aside class="row w mb-2">
            <h5><b>Modelo</b></h5>
            <select asp-for="MotorViewModel.ModeloVarianteID" class="input-Form" asp-items="@(new SelectList(Model.ModelosVariantes, "ID", "Nombre"))">
                <option value="" disabled selected>Selecciona un modelo</option>
            </select>
            <span asp-validation-for="MotorViewModel.ModeloVarianteID" class="text-white"></span>

        </aside>
        @*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*@
        <aside class="row w mb-2">
            <h5><b>Hélice</b></h5>
            <select asp-for="MotorViewModel.HeliceID" asp-items="@(new SelectList(Model.Helices, "ID", "Nombre"))" class="input-Form possibleNull">
                <option value="" disabled selected>Selecciona un hélice</option>
            </select>
            <span asp-validation-for="MotorViewModel.HeliceID" class="text-white"></span>
        </aside>
        @*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*@
        <aside class="row w my-3">
            <input type="submit" class="submit " value="Agregar" />
        </aside>
        @*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*@
    </form>

</section>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_TableScripts");
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

        <script src="~/js/FrontJS/forms/forms.js"></script>
        <script>
            var BrandEntity = '@_configService["Concept:Engine:Brand"]';
            var ModelEntity = '@_configService["Concept:Engine:Model"]';
            var ComponentEntity = '@_configService["Concept:Engine:Component"]';
        </script> 
        <script src="~/js/ScriptsComponents/Validaciones.js"></script>
        <script src="~/js/ScriptsComponents/Prototypes.js"></script>
        <script src="~/js/ScriptsComponents/GeneralActions.js"></script>
        <script src="~/js/ScriptsComponents/BrandTypeScript.js"></script>
        <script src="~/js/ScriptsComponents/ModelVariantScript.js"></script>
        <script src="~/js/ScriptsComponents/ComponentScript.js"></script>
    }
}